<div class="container">
    <div class="sidebar">
        <a [routerLink]="['/myprofile',{ outlets: {profilecontent1: ['editprofile'] } }]">
            <i class="fa fa-fw fa-user"></i> Editer mes informations</a>
        <a [routerLink]="['/myprofile',{ outlets: {profilecontent1: ['myorders'] } }]">Mes commandes</a>
        <a href="#contact">Mes favoris</a>
        <a href="#about">About</a>
    </div>

    <div class="content maindiv">
        <router-outlet class="" name="profilecontent1"></router-outlet>
    </div>
</div>