<div class="row">
    <div class="col-12">
        <p>Panier</p>
    </div>
    <div class="col-12">
        <table>
            <thead class="thead-dark">
                <th scope="col"></th>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Prix</th>
            </thead>
            <tbody *ngFor="let product of productsInTheCart">

            </tbody>
            <tfoot>
                
            </tfoot>
        </table>
    </div>
</div>