footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 3.5em;
    background-color: #212227;
    color: white;
    height: auto;
    line-height: 100%;
    margin-top: 3.5em;
}