.breandcrumb, .breadcrumb-item, a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.breandcrumb, .breadcrumb-item:hover, a:hover {
    color: #dc3545;
    cursor: pointer;
}
.input-border-bottom ::ng-deep {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    margin-bottom: 4%;
    }