<!-- Navigation -->
<small><a routerLink="/admin">Administration</a> / <a routerLink="/admin/manageproducts">Gestion des articles</a></small>
<!-- Titre -->
<h4 class="pb-3">Gestion des articles</h4>
<!-- Filtres de recherches -->
<div class="row">
    <!-- Recherche par nom d'article -->
    <div class="col-md-6 col-sm-12">
        <label class="control-label" for="selectProduct">Filtrer par nom d'article</label>
        <input id="selectProduct" class="form-control" placeholder="Rechercher un nom d'article" type="text" [(ngModel)]="filterText" (keyup)="filteredByText($event.target.value)">
    </div>
    <!-- L'article est il artif ou non -->
    <div class="col-md-6 col-sm-12" >
        <label class="control-label" for="selectStatus">Filtrer par état</label>
        <select  class="form-control" id="selectStatus" [(ngModel)]="selectedStatus" (change)="filteredByStatus()">
            <option value="-1" selected>Les deux</option>
            <option value="1">Actif</option>
            <option value="0">Innactif</option>
        </select>
    </div>
</div>
<div class="row py-2">
    <!-- Liste des catégories des articles -->
    <div class="col-md-4 col-sm-12">
        <label class="control-label" for="selectCat">Filtrer par catégories</label>
        <select  class="form-control" id="selectCat" [(ngModel)]="selectedMainCategory" (change)="filteredByCategories()">
            <option value="-1" selected>Toutes</option>
            <option *ngFor="let cat of allMainCategories" id="optionSelected" [value]="cat.id">{{cat.CategoryName}}</option>
        </select>
    </div>
    <!-- Liste des sous-catégories des articles -->
    <div class="col-md-4 col-sm-12" *ngIf="allSubCategories.length > 0">
        <label class="control-label" for="selectSub">Filtrer par sous-catégories</label>
        <select  class="form-control" id="selectSub" [(ngModel)]="selectedSubCategory" (change)="filteredByCategories()">
            <option value="-1" selected>Toutes</option>
            <option *ngFor="let cat of allSubCategories" id="optionSelected" [value]="cat.id">{{cat.CategoryName}}</option>
        </select>
    </div>
    <!-- Liste des sous-sous-catégories des articles -->
    <div class="col-md-4 col-sm-12" *ngIf="allSubSubCategories.length > 0">
        <label class="control-label" for="selectSubSub">Filtrer par sous-sous-catégories</label>
        <select  class="form-control" id="selectSubSub" [(ngModel)]="selectedSubSubCategory" (change)="filteredByCategories()">
            <option value="-1" selected>Toutes</option>
            <option *ngFor="let cat of allSubSubCategories" id="optionSelected" [value]="cat.id">{{cat.CategoryName}}</option>
        </select>
    </div>
</div>
<div class="row justify-content-end py-2 text-right">     
    <!-- Ajout d'un article / Reset des filtres de recherche-->
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-success" (click)="openModalAddProduct(showAddProduct)">Ajouter un article</button>
        <button class="btn btn-danger ml-1" (click)="clearAllFilters()">Clear</button>
    </div>
</div>
<!-- Tableau -->
<div class="row" *ngIf="allProducts"> 
    <div class="col-12">
        <div *ngIf="allProducts.length > 0; then asProducts else noProduct"></div>
        <ng-template #asProducts>
            <div class="table-responsive">
                <table class="table table-hover">
                    <!-- Label du tableau -->
                    <thead>
                        <tr>
                        <th scope="col">N° de l'article</th>
                        <th scope="col">Nom de l'article</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <!-- Données -->
                    <tbody *ngIf="allProducts.length > 0 && allProducts != null">
                        <tr *ngFor="let product of allProducts">
                            <th scope="row">{{product.id_Product}}</th>
                            <td><a [routerLink]="['/product-details', product.id_Product]" class="text-dark d-inline-block">{{product.ProductName}}</a></td>
                            <td>{{product.CategoryName}}</td>
                            <td>
                                <span class="p-1 mw-100 rounded" [ngClass]="product.isActive==false  ? ' bg-danger text-white' : 'bg-success text-white'">
                                <span *ngIf="product.isActive==true"> Actif </span>
                                <span *ngIf="product.isActive==false">inactif</span>
                                </span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-light" id="navbarDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                                <a class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" (click)="openModalPreview(showPreview, product)">Aperçu de l'article</a>
                                <a class="dropdown-item" (click)="openModalEdit(showEditProduct, product)">Modifier l'article</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="openModalComments(showProductsComments, product)">Gérer les commentaires</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="onChangeProductStatus(product)">
                                    <a *ngIf="product.isActive==true">Désactiver</a>
                                    <a *ngIf="product.isActive==false">Activer</a>
                                </a>
                                </a>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
        <ng-template #noProduct>
            <p>Aucuns articles ne corresponts à cette recherche</p>
        </ng-template>
    </div>
</div>
<!-- Modal d'aperçu -->
<ng-template #showPreview let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12"><h5><small>Aperçu de :</small> {{selectedProductPreview.ProductName}} </h5></div>
        </div>       
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <app-product-card [productData]="selectedProductPreview" class="col-12"></app-product-card>
    </div>   
</ng-template>

<!-- Modal pour l'ajout d'article-->
<ng-template #showAddProduct let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12"><h3>Ajout d'article</h3></div>
        </div>       
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addProductGroup" (ngSubmit)="onSubmitAdd()" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="productName">Nom de l'article</label>
                    <input class="form-control" type="text" name="productName"  formControlName="ProductName" id="productName" placeholder="Ex: PS4 Pro 2020">
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="productColor">Couleur</label>
                    <select  class="form-control" id="productColor" formControlName="ProductColor">
                        <option value="-1" selected disabled>Choisir une couleur</option>
                        <option value="Bleu">Bleu</option>
                        <option value="Vert">Vert</option>
                        <option value="Rouge">Rouge</option>
                        <option value="Jaune">Jaune</option>
                        <option value="Orange">Orange</option>
                        <option value="Rose">Rose</option>
                        <option value="Blanc">Blanc</option>
                        <option value="Noir">Noir</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="productSize">Taille (cm)</label>
                    <input class="form-control" type="number" name="productSize" id="productSize" formControlName="ProductSize" placeholder="Ex: 256cm">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 col-sm-11">
                    <label class="control-label" for="selectStatus">Catégorie</label>
                    <select  class="form-control" id="selectStatus" formControlName="ProductCategory" (change)="updateCategory()">
                        <option value="-1" selected disabled>Choisir une catégorie</option>
                        <option *ngFor="let cat of allCategories" id="optionSelected" [value]="cat.id">{{cat.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-1 col-sm-1" style="margin-top: 30px;">
                    <a class="btn btn-info form-control text-white" id="clearBtn" (click)="clearCategory()">X</a>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label class="control-label" for="productBrand">Marque</label>
                    <select  class="form-control" id="productBrand" formControlName="ProductBrand">
                        <option value="-1" selected disabled>Choisir une marque</option>
                        <option *ngFor="let brand of allManufacturer" id="optionSelected" [value]="brand.id_Manufacturer">{{brand.ManufacturerName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label class="control-label" for="productPrice">Prix (CHF)</label>
                    <input class="form-control" type="number" min="0.05" max="1000000" step="0.05" name="productPrice" formControlName="ProductPrice" id="productPrice" placeholder="Prix">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 col-sm-12">
                    <label for="productDescription">Description</label>
                    <textarea class="form-control" id="productDescription" rows="3" formControlName="ProductDescription" placeholder="Description de l'article"></textarea>  
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label for="fileToUpload">Image</label>
                    <input type="file" name="fileToUpload" (change)="handleFileInput($event.target.files)"  formControlName="ProductImage" class="form-control-file" id="fileToUpload">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <button class="btn btn-info">Ajouter</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <div class="row">
            <button type="button" class="btn btn-secondary" (click)="closeModal(showAddProduct)">Fermer</button>
        </div>
    </div>
</ng-template>

<!-- Modal pour la modification d'article -->
<ng-template #showEditProduct let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12"><h3>Modification d'article</h3></div>
        </div>       
        <button type="button" class="close" (click)="modal.dismiss();onReleaseLock()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addProductGroup" (ngSubmit)="onSubmitEdit()" enctype="multipart/form-data">
            <div *ngIf="isLocked" class="p-3 mb-2 bg-danger text-white text-center">{{LockedBy}} modifie cet article.
                <button type="button" class="btn btn-danger text-white" (click)="onForceReleaseLock()" aria-label="">Déverrouiller quand même
            </button> </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="productName">Nom de l'article</label>
                    <input class="form-control" type="text" name="productName"  formControlName="ProductName" id="productName" placeholder="Ex: PS4 Pro 2020">
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="productColor">Couleur</label>
                    <select  class="form-control" id="productColor" formControlName="ProductColor">
                        <option value="-1" selected disabled>Choisir une couleur</option>
                        <option value="Bleu">Bleu</option>
                        <option value="Vert">Vert</option>
                        <option value="Rouge">Rouge</option>
                        <option value="Jaune">Jaune</option>
                        <option value="Orange">Orange</option>
                        <option value="Rose">Rose</option>
                        <option value="Blanc">Blanc</option>
                        <option value="Noir">Noir</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="productSize">Taille (cm)</label>
                    <input class="form-control" type="number" name="productSize" id="productSize" formControlName="ProductSize" placeholder="Ex: 256cm">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 col-sm-11">
                    <label class="control-label" for="selectStatus">Catégorie</label>
                    <select  class="form-control" id="selectStatus" formControlName="ProductCategory" (change)="updateCategory()">
                        <option value="-1" selected disabled>Choisir une catégorie</option>
                        <option *ngFor="let cat of allCategories" id="optionSelected" [value]="cat.id">{{cat.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-1 col-sm-1" style="margin-top: 30px;">
                    <a class="btn btn-info form-control text-white" id="clearBtn" (click)="clearCategory()">X</a>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label class="control-label" for="productBrand">Marque</label>
                    <select  class="form-control" id="productBrand" formControlName="ProductBrand">
                        <option value="-1" selected disabled>Choisir une marque</option>
                        <option *ngFor="let brand of allManufacturer" id="optionSelected" [value]="brand.id_Manufacturer">{{brand.ManufacturerName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label class="control-label" for="productPrice">Prix (CHF)</label>
                    <input class="form-control" type="number" min="0.05" max="1000000" step="0.05" name="productPrice" formControlName="ProductPrice" id="productPrice" placeholder="Prix">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 col-sm-12">
                    <label for="productDescription">Description</label>
                    <textarea class="form-control" id="productDescription" rows="3" formControlName="ProductDescription" placeholder="Description de l'article"></textarea>  
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label for="fileToUpload">Image</label>
                    <input type="file" name="fileToUpload" (change)="handleFileInput($event.target.files)"  formControlName="ProductImage" class="form-control-file" id="fileToUpload">
                    <img src="../assets/images/products/{{imagePathToShow}}" alt="{{imagePathToShow}}" height="100" width="100">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <button [disabled]="isLocked" class="btn btn-info">Modifier</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <div class="row">
            <button type="button" class="btn btn-secondary" (click)="closeModal(showEditProduct);onReleaseLock()">Fermer</button>
        </div>
    </div>
</ng-template>

<!-- Modal commentaires-->
<ng-template #showProductsComments let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="showOrderDetails">Détails de la commande n° {{selectedProduct.ProductName}}</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="productComments != null;then asComments else noComments"></div>
    <div class="modal-body">
        <ng-template #asComments>
            <div class="table table-responsive table-borderless">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Commentaire</th>
                          <th scope="col">Utilisateur</th>
                          <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comment of productComments">
                            <td>{{comment.CommentDate}}</td>
                            <td>{{comment.CommentValue}}</td>
                            <td>{{comment.CustomerName}} {{comment.CustomerLastName}}</td>
                            <td><a [ngClass]="comment.isActive==false  ? ' btn btn-success text-white ' : 'btn btn-danger text-white'" (click)="onChangeCommentStatus(comment)">
                                <span *ngIf="comment.isActive == true">Désactiver</span>
                                <span *ngIf="comment.isActive == false">Activer</span>
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </ng-template>
        <ng-template #noComments>
            <p>Aucun commentaire sur cette article</p>
        </ng-template>
    </div>
    <div class="modal-footer ">
        <div class="row">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fermer</button>
        </div>
    </div>
  </ng-template>