<script type="text/javascript">
    $(function () {
        $('#card').keyup(function () {                     
            var text = $.trim($(this).val());
            $(".trimmed").html(text);
        });
    });
</script>
<!-- Adresse de payement client -->
<h5>Adresse de facturation</h5>
<div class="form-group">
    <select class="form-control" (change)="onNewBillAddress($event.target.value)" #selectAddress id="selectAddress">
        <option value="-1">Ajouter une nouvelle adresse </option>
        <option [selected]="billaddr.isDefault==1" *ngFor="let billaddr of myBillAddr" id="optionSelected"
            [value]="(billaddr | json)">
            {{billaddr?.FullName | titlecase}},{{billaddr?.billingAddress}}, {{billaddr?.billingCity}}, {{ billaddr?.billingZip }}
        </option>
    </select>

    <div *ngIf="newBillAddress" class="p-3">
        <form [formGroup]="newAddressForm">
            <!-- Titre-->
            <div class="form-group row">
                <label for="CustomerTitle" class="col-sm-4 col-form-label">Titre</label>
                <div class="col-sm-8">
                    <select class="form-control" id="CustomerTitle" formControlName="CustomerTitle"
                        [ngClass]="{ 'is-invalid': submitted && f2.CustomerTitle.errors || f2.CustomerTitle.touched && f2.CustomerTitle.errors}">
                        <option [value]="-1" disabled>choisir le Titre</option>
                        <option [value]="1">Mr</option>
                        <option [value]="2">Mme</option>
                        <option [value]="3">Non Binaire</option>
                    </select>
                </div>
            </div>
            <!-- Destinataire-->
            <div class="form-group row">
                <label for="FullName" class="col-sm-4 col-form-label">Destinataire</label>
                <div class="col-sm-8">
                    <input id="FullName" type="text" formControlName="FullName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f2.FullName.errors || f2.FullName.touched && f2.FullName.errors}" />
                </div>
            </div>
            <!-- Adresse-->
            <div class="form-group row">
                <label for="address" class="col-sm-4 col-form-label">Adresse</label>
                <div class="col-sm-8">
                    <input type="address" class="form-control" formControlName="address" id="address"
                        placeholder="Rue, n°"
                        [ngClass]="{ 'is-invalid': submitted && f2.address.errors || f2.address.touched && f2.address.errors}">
                </div>
            </div>
            <!-- Ville-->
            <div class="form-group row">
                <label for="city" class="col-sm-4 col-form-label">Ville / NPA</label>
                <div class="col-sm-5">
                    <input type="city" class="form-control" formControlName="city" id="city" placeholder="Ville"
                        [ngClass]="{ 'is-invalid': submitted && f2.city.errors  || f2.city.touched && f2.city.errors}">
                </div>
                <!-- NPA-->
                <div class="col-sm-3">
                    <input maxlength="4" type="zip" class="form-control" formControlName="zip" id="zip"
                        placeholder="NPA" [ngClass]="{ 'is-invalid': submitted && f2.zip.errors ||
            f2.zip.errors && f2.zip.hasError('pattern') || f2.zip.touched && f2.zip.errors ||
           f2.zip.touched && f2.zip.hasError('minLength')}">
                    <div class="invalid-feedback" *ngIf="f2.zip.touched && f2.zip.hasError('pattern') ">
                        Uniquement des chiffres</div>
                    <div class="invalid-feedback"
                        *ngIf="f2.zip.touched && f2.zip.value.length<4 && f2.zip.value.length!=0 ">
                        Au moins 4 chiffres</div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Choix méthode de Paiement-->
<h5>Paiement</h5>
<p class="mt-0">Toutes les transactions sont sécurisées et chiffrées.</p>
<form (ngSubmit)="onSubmit(selectAddress.value)" [formGroup]="creditCardForm" class="form">
    <div id="accordion">
        <div class="card">
        <div class="card-header" id="headingCarte">
            <h5 class="mb-0">
            <input type="radio" id="card" name="payment" data-toggle="collapse" data-target="#collapseCarte" aria-expanded="true" aria-controls="collapseCarte" checked>
            <label for="card" class="pl-1">Paiement par carte</label>
            </h5>
        </div>
    
        <div id="collapseCarte" class="collapse show" aria-labelledby="headingCarte" data-parent="#accordion">
            <div class="card-body">
                
                    <div>
                        <!-- Numéro sur la carte -->
                        <div class="form-group">
                            <input (keypress)="onFormatCardNumber()" maxlength="19" onkeydown="if(event.keyCode==32) return false;" placeholder="Numéro de carte *" 
                            id="cardNumber" type="text" formControlName="cardNumber" class="form-control" autofocus
                                [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors || f.cardNumber.touched && f.cardNumber.errors ||
                                 f.cardNumber.hasError('pattern')}" />
                                <div *ngIf=" f.cardNumber.hasError('pattern')" class="invalid-feedback">
                                    Uniquement des chiffres
                                </div>
                                <div class="invalid-feedback"
                                *ngIf="f.cardNumber.touched && f.cardNumber.value.length<19 && f.cardNumber.value.length!=0 ">
                                Au moins 16 chiffres</div>
                        </div>
                        <!-- Nom sur la carte-->
                        <div class="form-group">
                            <input placeholder="Nom sur la carte *" id="cardName" type="text" formControlName="cardName" class="form-control" autofocus
                                [ngClass]="{ 'is-invalid': submitted && f.cardName.errors || f.cardName.touched && f.cardName.errors}" />
                        </div>
                        <!-- Date d'expiration-->
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" formControlName="expirationMonthDate" autofocus
                                        [ngClass]="{ 'is-invalid': submitted && f.expirationMonthDate.errors || f.expirationMonthDate.touched && f.expirationMonthDate.errors}">
                                        <option value="" selected disabled>Mois*</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="03">04</option>
                                        <option value="03">05</option>
                                        <option value="03">06</option>
                                        <option value="03">07</option>
                                        <option value="03">08</option>
                                        <option value="03">09</option>
                                        <option value="03">10</option>
                                        <option value="03">11</option>
                                        <option value="03">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" formControlName="expirationYearDate" autofocus
                                        [ngClass]="{ 'is-invalid': submitted && f.expirationYearDate.errors || f.expirationYearDate.touched && f.expirationYearDate.errors}">
                                        <option value="" selected disabled>Année*</option>
                                        <option value="2020">20</option>
                                        <option value="2021">21</option>
                                        <option value="2022">22</option>
                                        <option value="2023">23</option>
                                        <option value="2024">24</option>
                                        <option value="2025">25</option>
                                        <option value="2026">26</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Code de sécurité-->
                            <div class="col-sm">
                                <div class="form-group">
                                    <input placeholder="Code de sécurité *" minlength="3" maxlength="3" formControlName="securityCode" class="form-control" id="securityCode"
                                        [ngClass]="{ 'is-invalid': submitted && f.securityCode.errors ||
                                                    f.securityCode.errors && f.securityCode.hasError('pattern') || f.securityCode.touched && f.securityCode.errors ||
                                                    f.securityCode.touched && f.securityCode.hasError('minLength')}" />
                                    <div class="invalid-feedback"
                                        *ngIf=" f.securityCode.hasError('pattern') ">
                                        Uniquement des chiffres</div>
                                    <div class="invalid-feedback"
                                        *ngIf="f.securityCode.touched && f.securityCode.value.length<3 && f.securityCode.value.length!=0 ">
                                        Au moins 3 chiffres</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="formError" class="p-3 mb-2 bg-danger text-white text-center">{{formErrorMessage}}</div>
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingFacture">
            <h5 class="mb-0">
            <input type="radio" id="bill" name="payment" data-toggle="collapse" data-target="#collapseFacture" aria-expanded="false" aria-controls="collapseFacture">
            <label for="bill" class="pl-1">Paiement par facture</label>
            </h5>
        </div>
        <div id="collapseFacture" class="collapse" aria-labelledby="headingFacture" data-parent="#accordion">
            <div class="card-body">
            Les informations du paiement vous seront transmis par mail (ou pas)
            </div>
        </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary mt-3" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Payer maintenant
        </button>
    </div>
</form>
<!--Modal pour afficher la confirmation d'une commande-->
<ng-template #OrderConfirmationModal id="OrderConfirmationModal" let-modal>
    <!--Modal header-->
    <div class="modal-header">
        <h6 class="modal-title text-dark p-0" id="showProfileLabel">Commande enregistrée.</h6>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--Message-->
    <div class="modal-body p-3 ">
        <div class="p-3 mb-2 bg-info text-white text-center rounded">
            <h4>Merci pour votre commande</h4>
            
        </div>
        <div>
            <div class="col text-dark">
                <div class="row d-flex justify-content-center text-center">Vous pouvez voir toutes vos commandes dans le panneau</div>
                <div class="row d-flex justify-content-center text-center">
                    <a autofocus routerLink="/myprofile/myorders" (click)="modal.dismiss()" class="nav-link">Mes commandes
                    </a></div>
            </div>
        </div>
    </div>
</ng-template>  