body {
    background-color: #f0efef;

}

header {
    height: 120px;

    
    .logo {
        height: 64px;
    }

    .icon {
        height: 23px;
    }
}
fa-layers-counter {
    zoom: 160%;
    position: relative;
    left: 1.4rem;
    bottom: 0.5rem;
  }