<div class="row bg-light ">
    <div class="col-md-12 ">
        <!-- liste des articles -->
        <tbody *ngFor="let product of allProducts">
            <div class="mb-3">
                <tr>
                    <td class="align-middle">
                        <div class="row">
                            <div class="col-sm-3 ">
                                <a [routerLink]="['/product-details', product.id_Product]">
                                    <img src="{{imageUrl}}{{product.ImagePath}}" alt="" width="70"
                                        class="img-fluid rounded shadow-sm">
                                </a>
                            </div>
                            <div class="col-sm d-flex align-items-center">
                                <a [routerLink]="['/product-details', product.id_Product]" 
                                class="text-dark d-inline-block ">
                                    {{ product.ProductName}}</a>
                            </div>
                        </div>
                    </td>
                    <td class="border-0  text-right"><strong>CHF {{(product.ProductUnitPrice*getQuantityOfProduct(product).Quantity).toFixed(2)}}</strong></td>
                </tr>
            </div>
            
        </tbody>
        <!-- Sous-total / livraison -->
        <tbody class="border-top">
            <tr >
                <th scope="row">
                    Sous-total
                </th>
                <td class="text-right">
                    <span>{{total.toFixed(2)}}</span>
                </td>
            </tr>
            <tr>
                <th>
                    Livraison
                </th>
                <td class="text-right">
                    Gratuite
                </td>
            </tr>
        </tbody>

        <!-- Total -->
        <tbody class="border-top">
            <tr >
                <th scope="row">
                    Total
                </th>
                <td class="text-right">
                    <span>{{total.toFixed(2)}}</span>
                </td>
            </tr>
        </tbody>
    </div>
</div>