<div class="row bg-light ">
    <div class="col-md-12 ">
        <!-- liste des articles -->
        <tbody >
            <tr *ngFor="let product of allProducts">
                <a [routerLink]="['/product-details', product.id_Product]">
                    <td class="align-middle" >
                        <div class="row">
                            <div class="col-sm-3">
                                    <img src="{{imageUrl}}{{product.ImagePath}}" alt=""
                                        class="img-fluid rounded shadow-sm">
                            </div>
                            <div class="col-sm d-flex align-items-center">
                                <a [routerLink]="['/product-details', product.id_Product]" 
                                class="text-dark d-inline-block ">
                                    {{ product.ProductName}}</a>
                            </div>
                        </div>
                    </td>
                </a>
                <td class="align-middle text-center"><strong>CHF {{(product.ProductUnitPrice*getQuantityOfProduct(product).Quantity).toFixed(2)}}</strong></td>
            </tr>
        </tbody>
        <!-- Sous-total / livraison -->
        <tbody class="border-top ">
            <tr >
                <th scope="row">
                    Sous-total
                </th>
                <td class="text-right">
                    <span>{{total.toFixed(2)}}</span>
                </td>
            </tr>
            <tr>
                <th>
                    Livraison
                </th>
                <td class="text-right">
                    Gratuite
                </td>
            </tr>
        </tbody>

        <!-- Total -->
        <tbody class="border-top">
            <tr >
                <th scope="row">
                    Total
                </th>
                <td class="text-right">
                    <span>{{total.toFixed(2)}}</span>
                </td>
            </tr>
        </tbody>
    </div>
</div>