<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
    <div class="row align-item-center"> 
        <div class="col-12">
            <div class="alert alert-danger text-center" role="alert">
                Attention ceci est un site fictif !!! Aucune commande ne sera envoyée.
              </div>
        </div>
            <div id="demo" class="carousel slide mb-4" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/images/carousel/carousel-1.jpg" alt="Los Angeles" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/carousel/carousel-2.jpg" alt="Chicago" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/carousel/carousel-3.jpg" alt="New York" width="1100" height="500">
                </div>
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <!-- Recommendations-->
            <div class="col-12 p-md-0 mb-4">
                
                <h3 class="text-muted"> Nos recommendations </h3>
                <div class="row">
                    <app-product-card *ngFor="let product of recommendationList" [productData]="product" class="col-md-3 col-sm-12 pt-3"></app-product-card>
                </div>
            </div>

            <!-- A propos de swisstech-->
            <div class="col-12 px-md-0 mt-4 py-3 text-center bg-light shadow border-0">
                <h5 class="text-muted text-uppercase"> à propos </h5>
                <h1 style="color:#dc3545">Swisstech</h1>
                <p class="text-muted">Swisstech.store est le site de référence de la vente en ligne. <br> Notre ambition est de proposer un catalogue varié pour toutes les personnes qui voudraient acquérir un objet du quotidien simplement.</p>
            </div>

            <!-- Nos marques-->
            <div class="col-12 px-md-0 pt-5 mb-4">
                <h3 class="text-muted"> Découvrez les produits les plus vendus </h3>
                <div class="row">
                    <app-product-card *ngFor="let product of bestSellers" [productData]="product" class="col-md-3 col-sm-12 pt-3"></app-product-card>
                </div>
            </div>
            <!-- A propos de l'équipe-->
            <app-contact-infos></app-contact-infos>
    </div>


