<div class="row">
    <!-- INFO Swisstech.store-->
    <div class="col-6">
        <h1>Swisstech.store</h1>
    </div>
    <!-- Infos commandes-->
    <div class="col-6">
        <span>Commande N° :{{orderInfos.id_Order}}</span><br>
        <span>Date : {{orderInfos.OrderDate | date :'dd.MM.yyyy'}}</span>
    </div>
</div>
<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">

    </div>
</div>
<div class="table table-responsive table-borderless">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let details of orderDetails">
                <td class="align-middle">
                    <div class="row">
                        <div class="col-sm-3 ">
                            <a [routerLink]="['/product-details', details.id_Product]">
                                <img src="{{imageUrl}}{{details.ImagePath}}" alt="" width="100"
                                    class="img-fluid rounded shadow-sm">
                            </a>
                        </div>
                        <div class="col-sm d-flex align-items-center">
                            <a [routerLink]="['/product-details', details.id_Product]" 
                            class="text-dark d-inline-block ">
                                {{ details.ProductName}}</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle text-center">{{details.Quantity}}x</td>
                <td class="align-middle text-center">{{details.TotalPrice}}</td>
            </tr>
        </tbody>
    </table>
    <h5>Total : {{orderInfos.TotalOrder}}</h5>
</div>

