<div class="row pb-3">
    <div class="col-12">
        <nav>
            <ol class="breadcrumb bg-light p-4 shadow border-0">
                <li class="breadcrumb-item"><a routerLink="/" title="Accueil">Accueil</a></li>
                <li class="breadcrumb-item "><a routerLink="/myprofile/editprofile" title="Mon profile">Mon profile</a>
                </li>
                <li class="breadcrumb-item font-weight-bold"><a routerLink="/myprofile/editpersonalinfos" title="Mes Coordonnées">Mes
                    Coordonnées</a></li>
            </ol>
        </nav>
    </div>
</div>
<!--Page d'edition des informations personnelles d'un client-->
<h2 class="p-3 text-center">Editer mon compte</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="editRegisterForm" class="form row justify-content-md-center">
    <div class="col-md-7">
        <!--champs du formulaire:-->
        <div class="p-4 shadow bg-white">
            <h5 class="mb-5 text-dark ">Mes coordonnées </h5>
            <!-- Titre-->
            <div class="form-group">
                <select class="form-control input-border-bottom" formControlName="FK_Title" autofocus 
                    [ngClass]="{ 'is-invalid': submitted && f.FK_Title.errors || f.FK_Title.touched && f.FK_Title.errors}">
                    <option [value]="-1" selected disabled>Titre</option>
                    <option [value]="2">Mme</option>
                    <option [value]="1">Mr</option>
                    <option [value]="3">Non binaire</option>
                </select>
            </div>
            <!-- First name-->
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <input type="text" maxlength="100" formControlName="CustomerName" class="form-control input-border-bottom"
                        placeholder="Prénom" [ngClass]="{ 'is-invalid': submitted && f.CustomerName.errors || f.CustomerName.touched && f.CustomerName.errors}" />
                        <div class="invalid-feedback" *ngIf=" f.CustomerName.hasError('pattern')">
                            Uniquement des lettres et des espaces</div>
                    </div>
                </div>
                <!-- Last name-->
                <div class="col-sm">
                    <div class="form-group">
                        <input type="text" maxlength="100" formControlName="CustomerLastName" class="form-control input-border-bottom"
                            placeholder="Nom" [ngClass]="{ 'is-invalid': submitted && f.CustomerLastName.errors || f.CustomerLastName.touched && f.CustomerLastName.errors}" />
                        <div class="invalid-feedback" *ngIf="submitted && f.CustomerLastName.hasError('pattern')">
                            Uniquement des lettres et des espaces</div>
                    </div>
                </div>
            </div>
            <!-- Birthday date-->
            <div class="form-group">
                <input onfocus="(this.type='date')" type="text" formControlName="CustomerBirthday" class="form-control input-border-bottom"
                    placeholder="Date de naissance"
                    [ngClass]="{ 'is-invalid': submitted && f.CustomerBirthday.errors || f.CustomerBirthday.touched && f.CustomerBirthday.errors}" />
            </div>
            <h5 class="mb-5 text-dark ">Mes informations de contact</h5>
            <div>
                <!-- Email -->
                <div class="form-group">
                    <input type="CustomerEmail" formControlName="CustomerEmail" class="form-control input-border-bottom"
                    placeholder="E-mail:      exemple@domaine.com"
                        [ngClass]="{ 'is-invalid': submitted && f.CustomerEmail.errors || f.CustomerEmail.touched && f.CustomerEmail.errors}" />
                    <div class="invalid-feedback"
                        *ngIf="submitted && f.CustomerEmail.hasError('pattern') || f.CustomerEmail.touched && f.CustomerEmail.hasError('pattern')">
                        Le format de la saisie n'est pas valable
                    </div>
                </div>
                <!-- Private phone-->
                <div class="form-group">
                    <input type="phone" formControlName="CustomerPhone" class="form-control input-border-bottom"
                    placeholder="Téléphone:        Exemple:  +41 12 345 67 89" [ngClass]="{ 'is-invalid': submitted && f.CustomerPhone.errors || f.CustomerPhone.touched && f.CustomerPhone.errors || 
                        f.CustomerPhone.touched && f.CustomerPhone.hasError('pattern')}" />
                    <div class="invalid-feedback" *ngIf="submitted && f.CustomerPhone.hasError('pattern') ||
                         f.CustomerPhone.touched && f.CustomerPhone.hasError('pattern')">
                        Le format de la saisie n'est pas valable
                    </div>
                </div>
            </div>
        </div>
        <!--Fin et envoi du formulaire-->
        <div class="form-group pb-3 mt-3 text-center">
            <button [disabled]="loading" class="btn btn-danger text-white btn-lg w-60 ">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Enregistrer
            </button>
        </div>
        <div *ngIf="userUpdateData" class="p-3 mb-2 bg-info text-white text-center">{{userUpdateDataMessage}}</div>
        <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
    </div>
</form>