<div class="p-3">
  <div class="row pb-2">
    <div class="col-md-8">
      <input class="form-control" placeholder="Rechercher un nom d'utilisateur" type="text"
        (keyup)="filterByText($event.target.value)">
    </div>
    <div class="col-md-4">
      <input id="checkbox_status" type="checkbox" class="custom-control-input" (change)="filterByStatus()">
      <label for="checkbox_status" class="custom-control-label">
        active only
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Numéro de client</th>
              <th scope="col">Nom d'utilisateur</th>
              <th scope="col">Titre</th>
              <th scope="col">Prénom</th>
              <th scope="col">Nom</th>
              <th scope="col">Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cursorPointer"
              *ngFor="let customer of allCustomers | slice: pageSize | slice: 0:itemsPerPage ; let i = index">
              <th scope="row">{{customer.id_customer}}</th>
              <td>{{customer.Username | titlecase}}</td>
              <td>{{customer.CustomerTitre | titlecase}}</td>
              <td>{{customer.CustomerName | titlecase}}</td>
              <td>{{customer.CustomerLastName | titlecase}}</td>
              <td><span class="p-1 mw-100 rounded"
                  [ngClass]="customer.isActive==0  ? ' bg-danger text-white' : 'bg-success text-white'">
                  <span *ngIf="customer.isActive==1"> Actif </span>
                  <span *ngIf="customer.isActive==0">inactif</span></span>
              </td>
              <td>
                <button type="button" class="btn btn-light" id="navbarDropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                  <a class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="openModal(showProfileModal, customer)">Aperçu du client</a>
                    <a class="dropdown-item" (click)="openModal(editProfileModal, customer)">Modifier les
                      coordonnées</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="onUnableUser(customer)">
                      <a *ngIf="customer.isActive==1">Désactiver</a>
                      <a *ngIf="customer.isActive==0">Activer</a>
                    </a>
                  </a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-between m-0" *ngIf="collectionSize >5">
          <div class="col-sm-3">
            <button type="button" class="btn btn-light" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <a>{{itemsPerPage}} par page...</a>
              <a class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="changePagesize(5)">5
                </a>
                <a class="dropdown-item" (click)="changePagesize(10)">10
                </a>
                <a class="dropdown-item" (click)="changePagesize(20)">20
                </a>
              </a>
            </button>
          </div>
          <div class="col-sm-8">
            <ngb-pagination class="float-right" [collectionSize]="collectionSize" #numPages [pageSize]="itemsPerPage"
              [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="CustomerTitre" class="col-sm-4 col-form-label">Titre</label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="CustomerTitre" autofocus>
            <option value="" selected disabled>Veuillez choisir</option>
            <option value="Mme">Mme</option>
            <option value="Mr">Mr</option>
            <option value="NB">Non binaire</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="CustomerName" class="col-sm-4 col-form-label">First Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="CustomerName" id="CustomerName">
        </div>
      </div>
      <div class="form-group row">
        <label for="CustomerLastName" class="col-sm-4 col-form-label">Last Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="CustomerLastName" id="CustomerLastName">
        </div>
      </div>
      <div class="form-group row">
        <label for="CustomerName" class="col-sm-4 col-form-label">Date de naissance *</label>
        <div class="col-sm-8">
          <input onfocus="(this.type='date')" type="text" formControlName="CustomerBirthday" class="form-control"
            placeholder="" />
        </div>
      </div>
      <div class="form-group row">
        <label for="Username" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="Username" id="Username">
        </div>
      </div>
      <div class="form-group row">
        <label for="CustomerEmail" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="CustomerEmail" class="form-control" formControlName="CustomerEmail" id="CustomerEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="shippingAddress" class="col-sm-4 col-form-label">Adresse</label>
        <div class="col-sm-8">
          <input type="shippingAddress" class="form-control" formControlName="shippingAddress" id="CustomerEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="shippingCity" class="col-sm-4 col-form-label">Ville / NPA</label>
        <div class="col-sm-5">
          <input type="shippingCity" class="form-control" formControlName="shippingCity" id="CustomerEmail">
        </div>
        <div class="col-sm-3">
          <input type="shippingZip" class="form-control" formControlName="shippingZip" id="CustomerEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="shippingZip" class="col-sm-4 col-form-label">NPA</label>
        <div class="col-sm-8">
          <input type="shippingZip" class="form-control" formControlName="shippingZip" id="CustomerEmail">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #showProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="showProfileLabel">{{f.CustomerTitre.value}} {{f.CustomerName.value}}
      {{f.CustomerLastName.value}}</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body p-3">
    <div class="row p-3">
      <div class="col-sm-4">
        Téléphone:
      </div>
      <div class="col-sm-8">
        {{f.CustomerPhone.value}}
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm-4">
        Email:
      </div>
      <div class="col-sm-8">
        {{f.CustomerEmail.value}}
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm-4">
        Date de naissance:
      </div>
      <div class="col-sm-8">
        {{f.CustomerBirthday.value}}
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm-4">
        Client depuis:
      </div>
      <div class="col-sm-8">
        {{f.CustomerSince.value}}
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm-4">
        Adresse IP:
      </div>
      <div class="col-sm-8">
        {{f.IpAddress.value}}
      </div>
    </div>
  </div>
</ng-template>