<div class="row pb-3">
    <div class="col-12">
        <nav>
            <ol class="breadcrumb bg-light p-4">
                <li class="breadcrumb-item"><a routerLink="/" title="Accueil">Accueil</a></li>
                <li class="breadcrumb-item "><a routerLink="/myprofile/editprofile" title="Mon profile">Mon profile</a>
                </li>
                <li class="breadcrumb-item "><a routerLink="/myprofile/editaddress" title="Mes Adresses">Mes
                        Adresses</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <!--Bouton d'ajout d'adresse-->
    <div class="col-md-3 col-sm-12s m-3 btn btn-light rounded" (click)="openModalAddAddress(AddAddressModal)">
        <div class="h-100 p-3 text-center text-muted">
            Ajouter une adresse
            <div class="h-100 pt-4">
                <fa-icon [icon]="faPlus" size="4x"></fa-icon>
            </div>
        </div>
    </div>
</div>
<h3>Adresses de livraison</h3>
<!--liste des adresse de livrasion-->
<div class="row">
    <div class="col-md-3 m-3 bg-white shadow rounded" *ngFor="let shipaddr of myShipAddr">
        <div class="p-3">
            <div class="row p-2 font-weight-bold ">
                {{ shipaddr.FullName }} <span class="pl-1" *ngIf="shipaddr.isDefault ==1"> ( Par Défaut )</span>
            </div>
            <div class="row p-2">{{shipaddr.shippingAddress}}</div>
            <div class="row p-2">{{ shipaddr.shippingCity  }}</div>
            <div class="row p-2">{{ shipaddr.shippingZip }}</div>
            <div class="row p-2">
                <div class="col">
                    <a class="btn btn-light shadow-sm" title="Modifier"
                        (click)="openModal(EditshippingAddressModal, shipaddr)">
                        <fa-icon class="text-black" [icon]="faEdit" size="lg"></fa-icon>
                    </a>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" title="Supprimer"
                        (click)="onDisableShipAddress(shipaddr.shippingID)">
                        <fa-icon class="text-white" [icon]="faTrashAlt" size="lg"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Adresses de facturation</h3>
<!--liste des adresse de livrasion-->
<div class="row">
    <div class="col-md-3 m-3 bg-white shadow rounded" *ngFor="let billaddr of myBillAddr">
        <div class="p-3">
            <div class="row p-2 font-weight-bold ">
                {{ billaddr.FullName }} <span class="pl-1" *ngIf="billaddr.isDefault ==1"> ( Par Défaut )</span>
            </div>
            <div class="row p-2">{{billaddr.billingAddress}}</div>
            <div class="row p-2">{{ billaddr.billingCity  }}</div>
            <div class="row p-2">{{ billaddr.billingZip }}</div>
            <div class="row p-2">
                <div class="col">
                    <a class="btn btn-light shadow-sm" title="Modifier"
                        (click)="openModal(EditBillingAddressModal, billaddr)">
                        <fa-icon class="text-black" [icon]="faEdit" size="lg"></fa-icon>
                    </a>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" title="Supprimer"
                        (click)="onDisableBillAddress(billaddr.billingID)">
                        <fa-icon class="text-white" [icon]="faTrashAlt" size="lg"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal et formulaire d'édition d'adresse de livraison-->
<ng-template #EditshippingAddressModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="showProfileLabel">
            <fa-icon [icon]="faMapMarkerAlt" size="lg"></fa-icon>
            Adresse de livraison
            <span class="pl-2 text-muted" *ngIf="isDefault==1">( Par Défaut )</span>
        </h6>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <form (ngSubmit)="onSubmitShippingAddresse()" [formGroup]="editShippingAddrForm" class="form">
            <div><button *ngIf="isDefault==0" type="button" (click)="SetAddressByDefault(f.shippingID.value)"
                    class="btn btn-light w-60 ">
                    Définir par défaut
                </button>
                <!-- Titre-->
                <div class="form-group">
                    <label for="CustomerTitle">Titre</label>
                    <select class="form-control" id="CustomerTitle" formControlName="CustomerTitle"
                        [ngClass]="{ 'is-invalid': submitted && f.CustomerTitle.errors || f.CustomerTitle.touched && f.CustomerTitle.errors}">
                        <option [value]="-1" disabled>Choisir le Titre</option>
                        <option [value]="1">Mr</option>
                        <option [value]="2">Mme</option>
                        <option [value]="3">Non Binaire</option>
                    </select>
                </div>
                <!-- Destinataire-->
                <div class="form-group">
                    <label for="FullName">Destinataire</label>
                    <input id="FullName" type="text" formControlName="FullName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.FullName.errors || f.FullName.touched && f.FullName.errors}" />
                </div>
                <!-- Adresse-->
                <div class="form-group">
                    <label for="ShippingAddress">Rue, n° *</label>
                    <input id="shippingAddress" type="text" formControlName="shippingAddress" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.shippingAddress.errors || f.shippingAddress.touched && f.shippingAddress.errors}" />
                </div>
                <!-- Ville-->
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="shippingCity">Ville *</label>
                            <input type="text" maxlength="100" formControlName="shippingCity" id="shippingCity"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.shippingCity.errors  || f.shippingCity.touched && f.shippingCity.errors}" />
                        </div>
                    </div>
                    <!-- NPA-->
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="shippingZip">Code Postal *</label>
                            <input maxlength="4" formControlName="shippingZip" class="form-control" id="shippingZip"
                                [ngClass]="{ 'is-invalid': submitted && f.shippingZip.errors ||
                                                     f.shippingZip.errors && f.shippingZip.hasError('pattern') || f.shippingZip.touched && f.shippingZip.errors ||
                                                     f.shippingZip.touched && f.shippingZip.hasError('minLength')}" />
                            <div class="invalid-feedback"
                                *ngIf="f.shippingZip.touched && f.shippingZip.hasError('pattern') ">
                                Uniquement des chiffres</div>
                            <div class="invalid-feedback"
                                *ngIf="f.shippingZip.touched && f.shippingZip.value.length<4 && f.shippingZip.value.length!=0 ">
                                Au moins 4 chiffres</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pb-3 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>
<!--Modal et Formulaire d'édition d'adresse de facturation-->
<ng-template #EditBillingAddressModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="showProfileLabel">
            <fa-icon [icon]="faFileInvoice" size="lg"></fa-icon>
            Adresse de facturation
            <span class="pl-2 text-muted" *ngIf="isDefault==1">( Par Défaut )</span>
        </h6>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <form (ngSubmit)="onSubmitBillingAddresse()" [formGroup]="editBillingAddrForm" class="form">
            <div>
                <button *ngIf="isDefault==0" type="button" (click)="SetAddressByDefault(f2.billingID.value)"
                    class="btn btn-light w-60 ">
                    Définir par défaut
                </button>
                <div>
                    <!-- Titre-->
                    <div class="form-group">
                        <label for="CustomerTitle">Titre</label>
                        <select class="form-control" id="CustomerTitle" formControlName="CustomerTitle"
                            [ngClass]="{ 'is-invalid': submitted && f2.CustomerTitle.errors || f2.CustomerTitle.touched && f2.CustomerTitle.errors}">
                            <option [value]="-1" disabled>choisir le Titre</option>
                            <option [value]="1">Mr</option>
                            <option [value]="2">Mme</option>
                            <option [value]="3">Non Binaire</option>
                        </select>
                    </div>
                    <!-- Destinataire-->
                    <div class="form-group">
                        <label for="FullName">Destinataire</label>
                        <input id="FullName" type="text" formControlName="FullName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.FullName.errors || f2.FullName.touched && f2.FullName.errors}" />
                    </div>
                    <!-- Adresse-->
                    <div class="form-group">
                        <label for="billingAddress">Rue, n° *</label>
                        <input id="billingAddress" type="text" formControlName="billingAddress" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.billingAddress.errors ||f2.billingAddress.touched && f2.billingAddress.errors}" />
                    </div>
                    <!-- Ville-->
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="billingCity">Ville *</label>
                                <input type="text" maxlength="100" formControlName="billingCity" id="billingCity"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f2.billingCity.errors ||f2.billingCity.touched && f2.billingCity.errors }" />
                            </div>
                        </div>
                        <!-- NPA-->
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="billingZip">Code Postal *</label>
                                <input maxlength="4" formControlName="billingZip" id="billingZip" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.billingZip.errors ||
                                         f2.billingZip.touched && f2.billingZip.hasError('pattern')
                                         || f2.billingZip.touched && f2.billingZip.errors ||
                                         f2.billingZip.touched && f2.billingZip.hasError('minLength')}" />
                                <div class="invalid-feedback" *ngIf="f2.billingZip.touched && f2.billingZip.hasError('pattern') ||
                                     f2.billingZip.errors && f2.billingZip.hasError('pattern')">
                                    Uniquement des chiffres</div>
                                <div class="invalid-feedback"
                                    *ngIf="f2.billingZip.touched && f2.billingZip.value.length<4 && f2.billingZip.value.length!=0 ">
                                    Au moins 4 chiffres</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pb-3 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>
<!--Modal et Formulaire d'ajout d'adresse-->
<ng-template #AddAddressModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="AddAddressLabel">
            Ajouter une adresse</h6>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3 ">
        <form (ngSubmit)="onSubmitAddAddresse()" [formGroup]="AddAddrForm" class="form">
            <div>
                <!-- Titre-->
                <div class="form-group">
                    <label for="CustomerTitle">Titre</label>
                    <select class="form-control" id="CustomerTitle" formControlName="CustomerTitle"
                        [ngClass]="{ 'is-invalid': submitted && f3.CustomerTitle.errors || f3.CustomerTitle.touched && f3.CustomerTitle.errors}">
                        <option value="-1" [selected]="true" disabled>choisir le Titre</option>
                        <option value="1">Mr</option>
                        <option value="2">Mme</option>
                        <option value="3">Non Binaire</option>
                    </select>
                </div>
                <!-- Destinataire-->
                <div class="form-group">
                    <label for="FullName">Destinataire</label>
                    <input id="FullName" type="text" formControlName="FullName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f3.FullName.errors || f3.FullName.touched && f3.FullName.errors}" />
                </div>
                <!-- Type d'adresse-->
                <div class="form-group">
                    <label for="addressType">Type d'adresse</label>
                    <select class="form-control" id="addressType" formControlName="addressType"
                        [ngClass]="{ 'is-invalid': submitted && f3.addressType.errors || f3.addressType.touched && f3.addressType.errors}">
                        <option value="-1" [selected]="true" disabled>choisir le type d'adresse</option>
                        <option value="1">Livraison</option>
                        <option value="2">Facturation</option>
                        <option value="3">Livraison & facturation</option>
                    </select>
                </div>
                <!-- Adresse-->
                <div class="form-group">
                    <label for="address">Rue, n° *</label>
                    <input id="address" type="text" formControlName="address" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f3.address.errors || f3.address.touched && f3.address.errors}" />
                </div>
                <!-- Ville-->
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="city">Ville *</label>
                            <input type="text" maxlength="100" formControlName="city" id="city" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f3.city.errors  || f3.city.touched && f3.city.errors}" />
                        </div>
                    </div>
                    <!-- NPA-->
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="zip">Code Postal *</label>
                            <input maxlength="4" formControlName="zip" class="form-control" id="zip" [ngClass]="{ 'is-invalid': submitted && f3.zip.errors ||
                                                     f3.zip.errors && f3.zip.hasError('pattern') || f3.zip.touched && f3.zip.errors ||
                                                     f3.zip.touched && f3.zip.hasError('minLength')}" />
                            <div class="invalid-feedback" *ngIf="f3.zip.touched && f3.zip.hasError('pattern') ">
                                Uniquement des chiffres</div>
                            <div class="invalid-feedback"
                                *ngIf="f3.zip.touched && f3.zip.value.length<4 && f3.zip.value.length!=0 ">
                                Au moins 4 chiffres</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pb-3 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>