<small><a routerLink="/myprofile/editprofile">Aperçu</a> / <a routerLink="/myprofile/editaddress">Mes
        Adresses</a></small>
<h2 class="p-3 text-center">Mes Adresses</h2>
<div class="row justify-content-end py-2 text-right">
    <!-- Ajout d'une adresse -->
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-success" (click)="openModalAddAddress(AddAddressModal)">Ajouter une adresse</button>
    </div>
</div>
<h3>Adresses de livraison</h3>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <!-- Label du tableau -->
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Destinataire</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Ville</th>
                        <th scope="col">NPA</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <!-- Données -->
                <tbody>
                    <tr *ngFor="let shipaddr of myShipAddr">
                        <td scope="row">{{shipaddr.CustomerTitle}}</td>
                        <td>{{ shipaddr.FullName }}</td>
                        <td>{{shipaddr.shippingAddress}}</td>
                        <td>{{ shipaddr.shippingCity  }}</td>
                        <td>{{ shipaddr.shippingZip }}</td>
                        <td>
                            <a class="btn btn-light"
                                (click)="openModal(EditshippingAddressModal, shipaddr)">Modifier</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                (click)="onDisableShipAddress(shipaddr.shippingID)">supprimer</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<h3>Adresses de facturation</h3>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <!-- Label du tableau -->
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Destinataire</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Ville</th>
                        <th scope="col">NPA</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <!-- Données -->
                <tbody>
                    <tr *ngFor="let billaddr of myBillAddr">
                        <td scope="row">{{billaddr.CustomerTitle}}</td>
                        <td>{{ billaddr.FullName }}</td>
                        <td>{{billaddr.billingAddress}}</td>
                        <td>{{ billaddr.billingCity  }}</td>
                        <td>{{ billaddr.billingZip }}</td>
                        <td>
                            <a class="btn btn-light" (click)="openModal(EditBillingAddressModal, billaddr)">Modifier</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                (click)="onDisableBillAddress(billaddr.billingID)">supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #EditshippingAddressModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="showProfileLabel">
            <fa-icon [icon]="faMapMarkerAlt" size="lg"></fa-icon>
            Adresse de livraison
        </h6>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <form (ngSubmit)="onSubmitShippingAddresse()" [formGroup]="editShippingAddrForm" class="form">
            <div>
                <!-- Titre-->
                <div class="form-group">
                    <label for="CustomerTitle">Titre</label>
                    <select class="form-control" id="CustomerTitle" formControlName="CustomerTitle"
                        [ngClass]="{ 'is-invalid': submitted && f.CustomerTitle.errors || f.CustomerTitle.touched && f.CustomerTitle.errors}">
                        <option [value]="-1" disabled>Choisir le Titre</option>
                        <option [value]="1">Mr</option>
                        <option [value]="2">Mme</option>
                        <option [value]="3">Non Binaire</option>
                    </select>
                </div>
                <!-- Destinataire-->
                <div class="form-group">
                    <label for="FullName">Destinataire</label>
                    <input id="FullName" type="text" formControlName="FullName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.FullName.errors || f.FullName.touched && f.FullName.errors}" />
                </div>
                <!-- Adresse-->
                <div class="form-group">
                    <label for="ShippingAddress">Rue, n° *</label>
                    <input id="shippingAddress" type="text" formControlName="shippingAddress" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.shippingAddress.errors || f.shippingAddress.touched && f.shippingAddress.errors}" />
                </div>
                <!-- Ville-->
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="shippingCity">Ville *</label>
                            <input type="text" maxlength="100" formControlName="shippingCity" id="shippingCity"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.shippingCity.errors  || f.shippingCity.touched && f.shippingCity.errors}" />
                        </div>
                    </div>
                    <!-- NPA-->
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="shippingZip">Code Postal *</label>
                            <input maxlength="4" formControlName="shippingZip" class="form-control" id="shippingZip"
                                [ngClass]="{ 'is-invalid': submitted && f.shippingZip.errors ||
                                                     f.shippingZip.errors && f.shippingZip.hasError('pattern') || f.shippingZip.touched && f.shippingZip.errors ||
                                                     f.shippingZip.touched && f.shippingZip.hasError('minLength')}" />
                            <div class="invalid-feedback"
                                *ngIf="f.shippingZip.touched && f.shippingZip.hasError('pattern') ">
                                Uniquement des chiffres</div>
                            <div class="invalid-feedback"
                                *ngIf="f.shippingZip.touched && f.shippingZip.value.length<4 && f.shippingZip.value.length!=0 ">
                                Au moins 4 chiffres</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pb-3 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>
<ng-template #EditBillingAddressModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="showProfileLabel">
            <fa-icon [icon]="faFileInvoice" size="lg"></fa-icon>
            Adresse de facturation
        </h6>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <form (ngSubmit)="onSubmitBillingAddresse()" [formGroup]="editBillingAddrForm" class="form">
            <div>

                <div>
                    <!-- Titre-->
                    <div class="form-group">
                        <label for="CustomerTitle">Titre</label>
                        <select class="form-control" id="CustomerTitle" formControlName="CustomerTitle"
                            [ngClass]="{ 'is-invalid': submitted && f2.CustomerTitle.errors || f2.CustomerTitle.touched && f2.CustomerTitle.errors}">
                            <option [value]="-1" disabled>choisir le Titre</option>
                            <option [value]="1">Mr</option>
                            <option [value]="2">Mme</option>
                            <option [value]="3">Non Binaire</option>
                        </select>
                    </div>
                    <!-- Destinataire-->
                    <div class="form-group">
                        <label for="FullName">Destinataire</label>
                        <input id="FullName" type="text" formControlName="FullName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.FullName.errors || f2.FullName.touched && f2.FullName.errors}" />
                    </div>
                    <!-- Adresse-->
                    <div class="form-group">
                        <label for="billingAddress">Rue, n° *</label>
                        <input id="billingAddress" type="text" formControlName="billingAddress" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.billingAddress.errors ||f2.billingAddress.touched && f2.billingAddress.errors}" />
                    </div>
                    <!-- Ville-->
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="billingCity">Ville *</label>
                                <input type="text" maxlength="100" formControlName="billingCity" id="billingCity"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f2.billingCity.errors ||f2.billingCity.touched && f2.billingCity.errors }" />
                            </div>
                        </div>
                        <!-- NPA-->
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="billingZip">Code Postal *</label>
                                <input maxlength="4" formControlName="billingZip" id="billingZip" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.billingZip.errors ||
                                         f2.billingZip.touched && f2.billingZip.hasError('pattern')
                                         || f2.billingZip.touched && f2.billingZip.errors ||
                                         f2.billingZip.touched && f2.billingZip.hasError('minLength')}" />
                                <div class="invalid-feedback" *ngIf="f2.billingZip.touched && f2.billingZip.hasError('pattern') ||
                                     f2.billingZip.errors && f2.billingZip.hasError('pattern')">
                                    Uniquement des chiffres</div>
                                <div class="invalid-feedback"
                                    *ngIf="f2.billingZip.touched && f2.billingZip.value.length<4 && f2.billingZip.value.length!=0 ">
                                    Au moins 4 chiffres</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pb-3 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>
<ng-template #AddAddressModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="AddAddressLabel">
            Ajouter une adresse</h6>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <form (ngSubmit)="onSubmitAddAddresse()" [formGroup]="AddAddrForm" class="form">
            <div>
                <!-- Titre-->
                <div class="form-group">
                    <label for="CustomerTitle">Titre</label>
                    <select class="form-control" id="CustomerTitle" formControlName="CustomerTitle"
                        [ngClass]="{ 'is-invalid': submitted && f3.CustomerTitle.errors || f3.CustomerTitle.touched && f3.CustomerTitle.errors}">
                        <option value="-1" [selected]="true" disabled>choisir le Titre</option>
                        <option value="1">Mr</option>
                        <option value="2">Mme</option>
                        <option value="3">Non Binaire</option>
                    </select>
                </div>
                <!-- Destinataire-->
                <div class="form-group">
                    <label for="FullName">Destinataire</label>
                    <input id="FullName" type="text" formControlName="FullName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f3.FullName.errors || f3.FullName.touched && f3.FullName.errors}" />
                </div>
                <!-- Type d'adresse-->
                <div class="form-group">
                    <label for="addressType">Type d'adresse</label>
                    <select class="form-control" id="addressType" formControlName="addressType"
                        [ngClass]="{ 'is-invalid': submitted && f3.addressType.errors || f3.addressType.touched && f3.addressType.errors}">
                        <option value="-1" [selected]="true" disabled>choisir le type d'adresse</option>
                        <option value="1">Livraison</option>
                        <option value="2">Facturation</option>
                    </select>
                </div>
                <!-- Adresse-->
                <div class="form-group">
                    <label for="address">Rue, n° *</label>
                    <input id="address" type="text" formControlName="address" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f3.address.errors || f3.address.touched && f3.address.errors}" />
                </div>
                <!-- Ville-->
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="city">Ville *</label>
                            <input type="text" maxlength="100" formControlName="city" id="city" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f3.city.errors  || f3.city.touched && f3.city.errors}" />
                        </div>
                    </div>
                    <!-- NPA-->
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="zip">Code Postal *</label>
                            <input maxlength="4" formControlName="zip" class="form-control" id="zip" [ngClass]="{ 'is-invalid': submitted && f3.zip.errors ||
                                                     f3.zip.errors && f3.zip.hasError('pattern') || f3.zip.touched && f3.zip.errors ||
                                                     f3.zip.touched && f3.zip.hasError('minLength')}" />
                            <div class="invalid-feedback" *ngIf="f3.zip.touched && f3.zip.hasError('pattern') ">
                                Uniquement des chiffres</div>
                            <div class="invalid-feedback"
                                *ngIf="f3.zip.touched && f3.zip.value.length<4 && f3.zip.value.length!=0 ">
                                Au moins 4 chiffres</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pb-3 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>