<div class="row pb-3">
    <div class="col-12">
        <nav>
            <ol class="breadcrumb bg-light p-4">
                <li class="breadcrumb-item"><a  routerLink="/" title="Accueil">Accueil</a></li>
                <li class="breadcrumb-item "><a routerLink="/myprofile/editprofile" title="Mon profile">Mon profile</a></li> 
                <li class="breadcrumb-item "><a routerLink="/myprofile/myorders" title="Mes commandes">Mes Commandes</a></li> 
            </ol>
        </nav>
    </div>
</div>
<h2 class="p-3 text-center">Mes commandes</h2>
<div class="row py-2">
    <!-- Calendrier pour filter par date -->
    <div class="col-md-4 col-sm-12">
        <label class="control-label h6 text-dark" for="selectDate">Filtrer par date</label>
        <input id="selectDate" #myDate class="form-control input-border-bottom" placeholder="Choisir une date" type="date"
            (change)="filteredByDate(myDate.value)">
    </div>
</div>
<!-- Tableau -->
<div class="row" *ngIf="myOrders">
    <div class="col-12">
        <div class="table-responsive rounded border border-top-0 border-dark">
            <table class="table table-hover">
                <!-- Label du tableau -->
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">N° de commande</th>
                        <th scope="col">Date de la commmande</th>
                        <th scope="col">Total</th>
                        <th scope="col">Payé par:</th>
                        <th scope="col" >Statut</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <!-- Données -->
                <tbody  *ngIf="myOrders.length > 0 && myOrders != null">
                    <tr class="text-center" *ngFor="let order of myOrders  | slice: pageSize | slice: 0:itemsPerPage">
                        <th scope="row">{{order.id_Order}}</th>
                        <td>{{ order.OrderDate |date: 'dd.MM.yyyy'  }}</td>
                        <td>{{ order.TotalOrder }}</td>
                        <td>{{ order.MethodName }}</td>
                        <td [ngClass]="{ 'text-danger': order.StatusName == 'Erreur de paiement' || order.StatusName == 'Annulé',
                                        'text-success' :order.StatusName == 'Livré'} ">{{ order.StatusName }}</td>
                        <td><!--Bouton détails-->
                            <a class="btn btn-light" (click)="openModal(showOrderDetailsModal, order)">Détails</a>
                        </td>
                        <td><!--Bouton d'impression-->
                            <a class="btn btn-light" (click)="onPrintInvoice(order)"> <fa-icon [icon]="faPrint" size="lg" class="text-dark"></fa-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Pagination-->
            <app-pagination [collectionSize]="myOrders.length" (itemsPerPageEvent)="itemsPerPageEvent($event)"
             (pageSizeEvent)="pageSizeEvent($event)"></app-pagination>
        </div>
    </div>
</div>
<!--Modal avec les détails d'une commande-->
<ng-template #showOrderDetailsModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="showProfileLabel">Détails de la commande</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <div class="table table-responsive table-borderless">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col ">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let details of Orderdetails">
                        <a [routerLink]="['/product-details', details.id_Product]" (click)="modal.dismiss()">
                            <td class="align-middle" >
                                <div class="row">
                                    <div class="col-sm-3">
                                            <img src="{{imageUrl}}{{details.ImagePath}}" alt=""
                                                class="img-fluid rounded shadow-sm">
                                    </div>
                                    <div class="col-sm d-flex align-items-center">
                                        <a [routerLink]="['/product-details', details.id_Product]" 
                                        class="text-dark d-inline-block ">
                                            {{ details.ProductName}}</a>
                                    </div>
                                </div>
                            </td>
                        </a>
                        <td class="align-middle text-center">{{details.Quantity}}x</td>
                        <td class="align-middle text-center">{{details.TotalPrice}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-between m-2">
            <div class="col-3"><div class="row float-left pl-3"><h6 class="m-0">Total : </h6> <div>{{selectedOrder.TotalOrder}}</div></div></div>
            <div class="col-8"><div class="row float-right pr-3"><h6 class="m-0">Méthode de paiement : </h6> <div>{{selectedOrder.MethodName}}</div></div></div>
        </div>

        <div class="row p-3 border border-light mt-2">
            <div class="col shadow text-center m-3">
                <h5 class="text-muted">Adresse de livraison</h5>
                <div class="pl-3 text-muted">
                    <div class="row p-1 font-weight-bold">{{shippingAddress.FullName | titlecase}}</div>
            
                    <div class="row p-1">{{shippingAddress.Address | titlecase}}</div>
                    
                    <div class="row p-1">{{shippingAddress.ZIP}}</div>
                    
                    <div class="row p-1">{{shippingAddress.City | titlecase}}</div>
                </div>
            </div>
            <div class="col shadow text-center m-3">
                <h5 class="text-muted">Adresse de Facturation</h5>
                <div class="pl-3 text-muted">
                    <div class="row p-1 font-weight-bold">{{billingAddress.FullName | titlecase}}</div>
            
                    <div class="row p-1">{{billingAddress.Address | titlecase}}</div>
                    
                    <div class="row p-1">{{billingAddress.ZIP}}</div>
                    
                    <div class="row p-1">{{billingAddress.City | titlecase}}</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>  