#sidenav {
    color:#f1f1f1;
    font-size: 16px;
}

#sidenav, a:hover {
    color: #dc3545;
    cursor: pointer;
}

.brd {
    border-bottom: 1px solid #e4e4ef85;
}

#sidenav a {
    text-decoration: none;
    color: #f1f1f1;

}

.navbarElement{
    background: rgb(57, 59, 65);
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.navbarElement img {
    width: 60px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}
