<!-- Navigation -->
<div class="row pb-3">
    <div class="col-12">
        <nav>
            <ol class="breadcrumb bg-light p-4">
                <li class="breadcrumb-item"><a routerLink="/" title="Accueil">Accueil</a></li>
                <li class="breadcrumb-item "><a routerLink="/admin" title="Statistiques">Statistiques</a>
                </li>
                <li class="breadcrumb-item "><a routerLink="/admin/manageorders" title="Gestion des commandes">Gestion des commandes</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Titre -->
<h4 class="pb-3 text-dark">Gestion des commandes</h4>
<!-- Filtres de recherches -->
<div class="row">
    <!-- Recherche par nom d'utilisateur -->
    <div class="col-md-6 col-sm-12">
        <label class="control-label" for="selectUsername">Filtrer par nom d'utilisateur</label>
        <input id="selectUsername" class="form-control" placeholder="Rechercher un nom d'utilisateur" type="text" (keyup)="filteredByText($event.target.value)">
    </div>
    <!-- Liste des status d'une commandes -->
    <div class="col-md-6 col-sm-12">
        <label class="control-label" for="selectStatus">Filtrer par statut</label>
        <select  class="form-control" id="selectStatus" [(ngModel)]="selectedOption" (change)="filteredByStatus()">
            <option value="-1" selected>Tous</option>
            <option *ngFor="let status of allStatus" id="optionSelected" [value]="status.id">{{status.StatusName}}</option>
        </select>
    </div>
</div>
<div class="row py-2">
    <!-- Calendrier pour filter par date -->
    <div class="col-md-4 col-sm-12" >
        <label class="control-label" for="selectDate">Filtrer par date</label>
        <input id="selectDate" #myDate class="form-control" placeholder="Choisir une date" type="date" (change)="filteredByDate(myDate.value)">
    </div>
</div>
<!-- Tableau -->
<div class="row" *ngIf="allOrders">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <!-- Label du tableau -->
                <thead>
                    <tr>
                      <th scope="col">N° de commande</th>
                      <th scope="col">Nom d'utilisateur</th>
                      <th scope="col">Date de la commmande</th>
                      <th scope="col">Statut</th>
                    </tr>
                  </thead>
                  <!-- Données -->
                  <tbody *ngIf="allOrders.length > 0 && allOrders != null">
                    <tr *ngFor="let order of allOrders | slice: pageSize | slice: 0:itemsPerPage">
                        <th scope="row">{{order.id_Order}}</th>
                        <td>{{ order.Username | titlecase }}</td>
                        <td>{{ order.OrderDate |date: 'dd.MM.yyyy'  }}</td>
                        <td><select  [ngModel]="order.StatusId" #mySelect  (change)='onOptionsSelected(mySelect.value, order.id_Order)' class="form-control">
                            <option *ngFor="let status of allStatus" [value]="status.id">{{status.StatusName}}</option>
                        </select></td>
                        <td><a class="btn btn-light" (click)="openModal(showOrderDetails, order)">Détails</a></td>
                    </tr>
                  </tbody>
            </table>
            <!--Pagination-->
            <app-pagination [collectionSize]="allOrders.length" (itemsPerPageEvent)="itemsPerPageEvent($event)"
            (pageSizeEvent)="pageSizeEvent($event)"></app-pagination>
        </div>
    </div>
</div>
<!-- Modal d'affichage des détails d'une commande -->
<ng-template #showOrderDetails let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="showOrderDetails">Détails de la commande n° {{selectedOrder.id_Order}}</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <!-- Données -->
    <div class="modal-body">
        <div class="table table-responsive table-borderless">
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">Produit</th>
                      <th scope="col">Quantité</th>
                      <th scope="col">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let details of orderDetails">
                        <td>{{details.ProductName}}</td>
                        <td>{{details.Quantity}}x</td>
                        <td>{{details.TotalPrice}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-between">
            <div class="col-4"><span>Total : {{selectedOrder.TotalOrder}}.-</span></div>
            <div class="col-6"><span>Méthode de paiement : {{selectedOrder.MethodName}}</span></div>
        </div>
        
    </div>
    <div class="modal-footer ">
        <div class="row">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fermer</button>
        </div>
    </div>
  </ng-template>



