.fixed-bottom ::ng-deep {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 3.5em;
}

 a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

 a:hover {
    color: #dc3545;
    cursor: pointer;
}