
<!-- Adresse client -->
<h5>Adresse de livraison</h5>
<div>
    <p>
        <span>{{currentUser?.CustomerName}} {{currentUser?.CustomerLastName}}</span><br>
        <span>{{currentUser?.shippingAddress}}</span><br>
        <span>{{currentUser?.shippingCity}} {{currentUser?.shippingZip}}</span><br>
    </p>
</div>

<!-- Mode d'expédition -->
<h5>Mode d'expédition</h5>
<p>Toutes les livraisons se font par la poste et sont <strong>gratuites</strong></p>

<!-- Bouttons de navigations -->
<div class="">
    <a routerLink="/cart">
        <span>Retour au panier</span>
    </a>
    <a routerLink="/checkout/payment" class="btn btn-primary">
        Continuer vers l'expédition
    </a>
</div>



