<!-- Aperçu des options du panneau mon profile -->
<div class="row pb-3">
    <div class="col-12">
        <nav>
            <ol class="breadcrumb bg-light p-4">
                <li class="breadcrumb-item"><a routerLink="/" title="Accueil">Accueil</a></li>
                <li class="breadcrumb-item "><a routerLink="/myprofile/editprofile" title="Mon profile">Mon profil</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<h2 class="p-3 text-center">Mon profil</h2>
<div class="row">
    <div class="col-md-5 p-4 m-4 shadow min-vw-40 cursorPointer" routerLink="/myprofile/editpersonalinfos"
        title="Editer mes coordonées">
        <h5>Mes coordonnées</h5>
        <div class="row p-3">
            <div class="col-sm-4">
                <span *ngIf="currentCustomer.FK_Title ==1">Mr</span>
                <span *ngIf="currentCustomer.FK_Title ==2">Mme</span>
                <span *ngIf="currentCustomer.FK_Title ==3">Non Binaire</span>
            </div>
            <div class="col-sm-8">
                {{currentCustomer.CustomerName}} {{currentCustomer.CustomerLastName}}
            </div>
        </div>
        <div class="row p-3">
            <div class="col-sm-4">
                Email:
            </div>
            <div class="col-sm-8">
                {{currentCustomer.CustomerEmail}}
            </div>
        </div>
        <div class="row p-3">
            <div class="col-sm-4">
                Téléphone:
            </div>
            <div class="col-sm-8">
                {{currentCustomer.CustomerPhone}}
            </div>
        </div>

        <div class="row p-3">
            <div class="col-sm-4">
                Client depuis:
            </div>
            <div class="col-sm-8">
                {{currentCustomer.CustomerSince}}
            </div>
        </div>
        <div class="row p-3">
            <div class="col-sm-4">
                Date de naissance:
            </div>
            <div class="col-sm-8">
                {{currentCustomer.CustomerBirthday}}
            </div>
        </div>
    </div>
    <div  class=" col-md-5 p-4 m-4 shadow min-vw-40 cursorPointer" routerLink="/myprofile/editaddress"
        title="Gerer mes adresses">
        <h5>Mes adresses</h5>
        <div class="row p-3 m-2 rounded bg-light">
            <div class="col-sm-5">

                <div class="row p-2">
                    <h6>Adresse de livraison</h6>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="row p-2"> {{currentCustomer.shippingAddress}}</div>
                <div class="row p-2">{{ currentCustomer.shippingCity}}</div>
                <div class="row p-2">{{ currentCustomer.shippingZip }}</div>
            </div>
        </div>
        <div class="row p-3 m-2 rounded bg-light">
            <div class="col-sm-5">
                <div class="row p-2">
                    <h6>Adresse de Facturation</h6>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row p-2"> {{currentCustomer.billingAddress}}</div>
                <div class="row p-2">{{ currentCustomer.billingCity}}</div>
                <div class="row p-2">{{ currentCustomer.billingZip }}</div>
            </div>
        </div>
    </div>
</div>
<div  class="row">
    <div class=" col-md-5 p-4 m-4 shadow min-vw-40 cursorPointer" routerLink="/myprofile/editlogininfos"
        title="Modifier mes identifiants">
        <h5>Mes identifiants</h5>
    </div>
</div>