    #divFormEdit{
        max-width: 650px;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    background-color: white;
    }
    h2 {
        font-family: Poppins, sans-serif;
        margin-bottom: 20px;
        padding-top: 10px;
        height: 50px;
        align-items: center;
        text-align: center;
    }

    h5 {
        font-size: 1.25rem;
        padding-top: 7px;
        height: 50px;
        margin-top: 20px;
        border-top-style: outset;
    }

    h6 {
        height: 30px;
        padding-top: 10px;
        margin-bottom: 20px;
        border-top-style: outset;
    }

    i {
        vertical-align: middle;
    }
