<!-- Navigation -->
<small><a routerLink="/myprofile/editprofile">Aperçu</a></small>
<h2 class="p-3 text-center">Aperçu</h2>
<div class="row">
    <div type="button" class="col-md-5 p-4 m-4 shadow min-vw-40" routerLink="/myprofile/editpersonalinfos" title="Editer mes coordonées">
        <h5>Mes coordonnées</h5>
        <div class="row p-3">
            <div class="col-sm-4">
                {{f.CustomerTitre.value}}
            </div>
            <div class="col-sm-8">
                {{f.CustomerName.value}} {{f.CustomerLastName.value}}
            </div>
        </div>
        <div class="row p-3">
            <div class="col-sm-4">
                Email:
            </div>
            <div class="col-sm-9">
                {{f.CustomerEmail.value}}
            </div>
        </div>
        <div class="row p-3">
            <div class="col-sm-8">
                Téléphone:
            </div>
            <div class="col-sm-8">
                {{f.CustomerPhone.value}}
            </div>
        </div>

        <div class="row p-3">
            <div class="col-sm-4">
                Client depuis:
            </div>
            <div class="col-sm-8">
                {{f.CustomerSince.value}}
            </div>
        </div>
        <div class="row p-3">
            <div class="col-sm-4">
                Date de naissance:
            </div>
            <div class="col-sm-8">
                {{f.CustomerBirthday.value}}
            </div>
        </div>
    </div>
    <div type="button"class=" col-md-5 p-4 m-4 shadow min-vw-40" routerLink="/myprofile/editaddress" title="Gerer mes adresses">
        <h5>Mes adresses</h5>
        <div class="row p-3">
            <div class="col-sm-4">
                Adresse de livraison
            </div>
            <div class="col-sm-8">
                {{f.shippingAddress.value}}
            </div>
        </div>
    </div>
</div>
<div type="button" class="row">
    <div class=" col-md-5 p-4 m-4 shadow min-vw-40" routerLink="/myprofile/editlogininfos" title="Modifier mes identifiants">
        <h5>Mes identifiants</h5>
    </div>
</div>