<ng-container *ngIf="isCartItem; else elseTemplate">
    <input type="number" value="1" aria-label="Search" class="form-control d-none" [(ngModel)]="quantity" >
    <button class="add-to-cart btn cart-icon" (click)="onAddProductToCart()">
        <fa-icon  [icon]="faCartPlus" class="icon text-dark " size="lg"></fa-icon>
    </button>
</ng-container>
<ng-template #elseTemplate>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <input type="number" value="1" aria-label="Search" class="form-control d-none" [(ngModel)]="quantity" >
            <button class="btn btn-primary btn-md my-0 p" type="button" (click)="onAddProductToCart()">Ajouter au panier<img class="ml-2" src="/assets/images/icons/add-cart.svg" height="22"/></button>
        </div>
    </div>
</ng-template>