<small><a routerLink="/myprofile/editprofile">Mon profile</a> / <a routerLink="/myprofile/editlogininfos">Mes
        identifiants</a></small>
<!--Formulaire de gestion des identifiants-->
<div class=" p-4 mt-2">
    <div *ngIf="userUpdateData" class="p-3 mb-2 bg-info text-white text-center">{{userUpdateDataMessage}}</div>
    <div class="row">
        <!--Affiche l'username actuel-->
        <div class="form-group col-sm d-inline">
            <h5 class="h3 text-dark">
                Nom d'utlisateur actuel : <span class="font-weight-bold">{{usernameData | titlecase}}</span>
            </h5>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <!--Bouton de changement d'username-->
        <div class="col-sm-4 m-4 p-5 btn btn-light rounded shadow "
            (click)="openModal(EditUsernameModal);onUsernameChange()">
            <a class="text-center text-muted h5">Modifier mon nom d'utilisateur</a>
        </div>
        <!--Bouton de changement de password-->
        <div class="col-sm-4 m-4 p-5 btn btn-light rounded shadow"
            (click)="openModal(EditPasswordModal);onPasswordChange()">
            <a class="text-center text-muted h5">Modifier mon mot de passe</a>
        </div>
    </div>
</div>
<!--Modal Username-->
<ng-template #EditUsernameModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="showProfileLabel">
            Modifier mon nom d'utilisateur
        </h6>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <!--Input et controles-->
        <form (ngSubmit)="onSubmit()" [formGroup]="editRegisterForm" class="form">
            <label for="Username">Nouveau nom d'utilisateur: *</label>
            <input type="text" formControlName="Username" class="form-control" (keyup.tab)="isUserAvailable()"
                (blur)="isUserAvailable()" id="Username"
                [ngClass]="{ 'is-invalid': !isUserValid || submitted && f.Username.errors ||f.Username.touched && f.Username.errors || f.Username.hasError('pattern')}" />
            <div *ngIf=" f.Username.hasError('pattern')" class="invalid-feedback">
                Uniquement des lettres et des chiffres
            </div>
            <p class="text-danger">{{usernameErrorMessage}}</p>
            <div class="form-group pb-2 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>
<!--Modal Password-->
<ng-template #EditPasswordModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="showProfileLabel">
            Modifier mon nom d'utilisateur
        </h6>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body p-3 ">
        <form (ngSubmit)="onSubmit()" [formGroup]="editRegisterForm" class="form">

            <div class="col">
                <div class="col-sm">
                    <!--Passwotrd actuel + check-->
                    <div class="form-group">
                        <label for="myPassword">Mot de passe actuel: *</label>
                        <input (keyup.tab)="onPasswordTest()" (blur)="onPasswordTest()" id="myPassword"
                            formControlName="myPassword" type="password" class="form-control"
                            [ngClass]="f.myPassword.touched && f.myPassword.invalid ? 'is-invalid' : ''">
                        <p class="text-danger">{{passwordErrorMessage}}</p>
                    </div>
                    <!-- nouveau Password + controles -->
                    <div class="form-group">
                        <label for="password">Nouveau mot de passe: *</label>
                        <input id="password" formControlName="password" type="password" class="form-control"
                            [ngClass]="f.password.touched && f.password.invalid ? 'is-invalid' : ''">
                        <label class="col"
                            [ngClass]="f.password.hasError('required') || f.password.hasError('minlength')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ f.password.hasError('required') ||
            f.password.hasError('minlength') ? 'cancel' :
            'check_circle' }}</i>
                            Au moins 8 caractères
                        </label>
                        <label class="col"
                            [ngClass]="f.password.hasError('required') || f.password.hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ f.password.hasError('required') ||
            f.password.hasError('hasNumber') ? 'cancel' :
            'check_circle' }}</i>
                            Au moins un chiffre
                        </label>
                        <label class="col"
                            [ngClass]="f.password.hasError('required') || f.password.hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">

                            <i class="material-icons">{{ f.password.hasError('required') ||
            f.password.hasError('hasCapitalCase') ? 'cancel' :
            'check_circle' }}</i>
                            Au moins une majuscule
                        </label>
                        <label class="col"
                            [ngClass]="f.password.hasError('required') || f.password.hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ f.password.hasError('required') ||
            f.password.hasError('hasSmallCase') ? 'cancel' :
            'check_circle' }}</i>
                            Au moins une minuscule
                        </label>
                        <label class="col"
                            [ngClass]="f.password.hasError('required') || f.password.hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ f.password.hasError('required') ||
            f.password.hasError('hasSpecialCharacters') ? 'cancel' :
            'check_circle' }}</i>
                            Au moins un caractère spécial
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <!-- Confirmation Password + controles-->
                    <div class="form-group">
                        <label for="confirmPassword">Confirmez le nouveau mot de passe: *</label>
                        <input id="confirmPassword" formControlName="confirmPassword" type="password"
                            class="form-control"
                            [ngClass]="f.confirmPassword.touched && f.confirmPassword.invalid ? 'is-invalid' : ''">
                        <label class="text-danger"
                            *ngIf="f.confirmPassword.value.length < 1 || f.confirmPassword.hasError('required')">
                            Confirmez votre mot de passe!
                        </label>
                        <label class="text-danger"
                            *ngIf="f.confirmPassword.value.length > 0 && f.confirmPassword.hasError('NoPassswordMatch')">
                            Les mots de passe doivent être identiques
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group pb-2 mt-3 text-center">
                <button [disabled]="loading" class="btn btn-primary btn-lg w-60 ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enregistrer
                </button>
            </div>
            <!--Affiche un message si un problème-->
            <div *ngIf="FormError" class="p-3 mb-2 bg-danger text-white text-center">{{FormErrorMessage}}</div>
        </form>
    </div>
</ng-template>