<div class="row pt-3">
    <div class="col-sm-12 col-md-3">
        <h5 class="p-2">Catégories</h5>
        <ul class="list-group">
            <li class="list-group-item py-2 bg-dark text-white" *ngIf="previousCat" (click)="goToPreviousCat(previousCat.id)">Revenir à {{previousCat.CategoryName}}</li>
            <li class="list-group-item py-2" *ngFor="let subCat of allSubCat" (click)="filterByCat(subCat.id)">{{subCat.CategoryName}}</li>
        </ul>
        <h5 class="p-2">Filtres</h5>

        <!-- Selection d'un prix-->
        <ul class="list-group">
            <li class="list-group-item py-2 bg-dark text-white" data-toggle="collapse" data-target="#price">Prix</li>
            <div id="price" class="collapse bg-light">
                <div class="row m-1 justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="minPrice">Min :</label>
                            <input type="number" class="form-control" id="minPrice" [(ngModel)]="minPrice" placeholder="{{minPrice}}" max="{{maxPrice}}" min="{{minPriceToNotChange}}" >
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="maxPrice">Max :</label>
                            <input type="number" class="form-control" id="maxPrice"  [(ngModel)]="maxPrice" placeholder="{{maxPrice}}"  max="{{maxPriceToNotChange}}" min="{{minPrice}}">
                        </div>
                    </div>
                </div>
                <div class="row m-1  justify-content-center">
                    <div class="col-12">
                        <button class="btn btn-secondary"(click)="filterByPriceRange()">Rerchercher</button>
                    </div>
                </div>
            </div>
        </ul>

        <!-- Selection d'une marque-->
        <ul class="list-group pt-2">
            <li class="list-group-item py-2 bg-dark text-white" data-toggle="collapse" data-target="#brand">Marque</li>
            <div id="brand" class="collapse bg-light">
                <div class="row m-1  justify-content-center">
                    <div class="col-12">
                        <select class="form-control" [(ngModel)]="selectedBrand" (change)="filterByBrand()">
                            <option value="-1" selected hidden>Marque</option>
                            <option *ngFor="let manufacturer of allManufacturers" value="{{manufacturer.id_Manufacturer}}">{{manufacturer.ManufacturerName}}</option>
                        </select>                         
                    </div>
                </div>
            </div>
        </ul>

        <!-- Selection d'une couleur-->
        <ul class="list-group pt-2">
            <li class="list-group-item py-2 bg-dark text-white" data-toggle="collapse" data-target="#color">Couleur</li>
            <div id="color" class="collapse bg-light">
                <div class="row m-1  justify-content-center">
                    <div class="col-12">
                        <select class="form-control" [(ngModel)]="selectedColor" (change)="filterByColor()">
                            <option value="-1" selected hidden>Couleur</option>
                            <option *ngFor="let color of allColors" value="{{color.id_color}}">{{color.ProductColor}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </ul>

    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row">
            <div class="col-12">
                <h3 *ngIf="selectedCategory != null && selectedBrandInfo == null">{{selectedCategory.CategoryName}}</h3>
                <h3 *ngIf="selectedBrand != -1 && selectedBrandInfo != null && queryTextFilter.length < 1">{{selectedBrandInfo.ManufacturerName}}</h3>
            </div>
            <div class="col-12">
                <h3 *ngIf="queryTextFilter.length > 0 && selectedBrandInfo == null">Résultats pour <span class="font-weight-bold">{{queryTextFilter}}</span></h3>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4 col-sm-12 offset-md-8">
                <select class="form-control" [(ngModel)]="selectedOptionOrder" (change)="sortBy(selectedOptionOrder, allProducts)">
                    <option value="bestseller" selected>Best seller</option>
                    <option value="priceasc">Prix croissant</option>
                    <option value="pricedesc" >Prix décroissant</option>
                    <option value="nameasc">Nom croissant</option>
                    <option value="namedesc">Nom décroissant</option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf="isLoaded == true">
            <app-product-card *ngFor="let product of allProducts" [productData]="product" class="col-md-4 col-sm-12 pt-3"></app-product-card>
        </div>
    </div>
</div>
