.border-size-8-green{
    border-width:8px !important;
    border-left-color: #398357!important;
}
.border-size-8-blue{
    border-width:8px !important;
    border-left-color: #3779c5!important;
}
.border-size-8-yellow{
    border-width:8px !important;
    border-left-color: #f7ba04!important;
}
.breandcrumb, .breadcrumb-item, a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.breandcrumb, .breadcrumb-item:hover, a:hover {
    color: #dc3545;
    cursor: pointer;
}