<div class="text-right">
    <button type="button" [ngClass]="customer.isActive==1  ? ' btn btn-danger' : 'btn btn-success'"
    (click)="onUnableUser()"> 
    <a *ngIf="customer.isActive==1">Désactiver</a>
    <a *ngIf="customer.isActive==0">Activer</a></button>
</div>
<div class="p-3 shadow mb-4">
    <h5>Aperçu</h5>
    <div class="p-3">
        Client ....
    </div>
    <div class="p-3">
        Status: <a *ngIf="customer.isActive==0">Désactivé</a>
        <a *ngIf="customer.isActive==1">Activé</a>
    </div>
    <div class="p-3">
        Client depuis 01.01.2000
    </div >
    <div class="p-3">
        A commandé x fois
    </div>
    <div class="p-3">
        Adresse IP
    </div>
</div>
<div class="p-3 shadow mb-4">
    <h5>Données personnelles</h5>
    <div class="table-responsive"> 
        <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Numéro de client</th>
                <th scope="col">Titre</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Modifier</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <th scope="row">{{customer.id_customer}}</th>
                <td>{{customer.CustomerTitre | titlecase}}</td>
                <td>{{customer.CustomerName | titlecase}}</td>
                <td>{{customer.CustomerLastName | titlecase}}</td>
                <td> {{customer.CustomerBirthday | date: 'dd/MM/yyyy' }}</td>
                <td><button type="button"  
                    class="btn btn-outline-secondary"(click)="onCustomerDataChange()">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
         
    </div>
    
</div>
<div class="p-3 shadow  mb-4">
    <h5>Informations de contact</h5>
    
</div>
<div class="p-3 shadow  mb-4">
    <h5>Identifiants</h5>
    
</div>
<div class="p-3 shadow  mb-4">
    <h5>Commandes</h5>
    
</div>
