<div class="card">
    <div class="card-header">
        <a> 
            <figcaption class="figure-caption">{{product.CategoryName}}</figcaption>
        </a>
    </div>
    <a [routerLink]="['/product-details', product.id_Product]">
        <img src='{{imageUrl}}{{product.ImagePath}}' class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <figcaption class="figure-caption">{{product.ManufacturerName}}</figcaption>
        <a [routerLink]="['/product-details', product.id_Product]" class="text-dark d-inline-block ">
            <p class="card-text">{{product.ProductName}}</p>
        </a>
    </div>


    <div class="card-footer">
        <span class="float-left price-card-footer">CHF {{product.ProductUnitPrice}}</span>
        <span><app-add-to-cart [productDetails]="product" [isCartItem]="true" class="float-right"></app-add-to-cart></span> 
    </div>
</div>