<div class="header-container">
    <!-- Logo -->
    <div id="block-siteBranding">
      <a href="/" title="Accueil">
        <img src="/assets/images/Logo.png"/>
      </a>
    </div>

    <div id="block-icons">
      <div id="user-icon">
        <a href="/" title="Utilisateur">
            <img src="/assets/images/user.svg"/>
        </a>
      </div>
      <div id="basket-icon">
        <a href="/" title="Panier">
            <img src="/assets/images/shopping-cart.svg"/>
        </a>
      </div>

    </div>
    <!-- Menu responsive -->

    <!-- Menu principale -->

</div>
