<nav class=" header navbar navbar-expand-lg  navbar-dark p-0 fixed-top" data-toggle="sticky-onscroll">
    <div class="container png p-0">
        <div class="row align-items-center w-100 p-0 m-0">
            <div class="col-sm-1 col-md-3 order-0 mr-auto w-auto">
                <a class="navbar-brand" href="/">
                    <img height="64" class="logo d-none d-sm-inline p-0" src="/assets/images/Swisstech-desktop-logo.png"/>
                    <img height="64" class="d-md-none d-sm-none" src="/assets/images/Swisstech-smartphone-logo.png"/>
                </a>
            </div>
            <div class="col-sm-12 col-md-5 order-3 order-md-2 w-auto">
                <form>
                    <div class="input-group">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinksCollapsed" aria-controls="navbarLinksCollapsed" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <input type="search" class="form-control rounded" placeholder="Recherche" [(ngModel)]="textSearch" name="text">
                        <span class="input-group-btn ml-2">
                            <button class="btn btn-info"  (click)="onSearch(textSearch)" type="submit">Recherche</button>
                        </span>
                    </div>
                </form>
            </div>
            
            <div class="col-sm-11 col-md-4 order-2 w-auto ml-auto pr-0">
                <span class="d-flex float-right">
                    <!--Iconne du panier-->
                <a class="nav-link" routerLink="/cart">
                    <fa-layers size="2x" [fixedWidth]="true">
                        <fa-icon  [icon]="faShoppingCart" class="icon"></fa-icon>
                        <fa-layers-counter content="{{cartCount}}" [classes]="['fa-custom-counter']"></fa-layers-counter>
                    </fa-layers>
                </a>
                <!--lien pour la conenxion si pas connecté ou lien pour le panneau de gestion utilisateur-->
                <a class="nav-link" (click)="openNav()">
                    <span *ngIf="currentUser" class="pr-2 h5" title="Mon compte">{{currentUser.login | titlecase}}</span>
                    <fa-icon *ngIf="currentUser" [icon]="faUser" class="icon" size="2x" title="Mon compte"></fa-icon>
                    <a *ngIf="!currentUser">Se connecter</a>
                </a>
                
                <!--Icon de déconnexion-->
                <a class="nav-link" *ngIf="currentUser" title="Se déconnecter" (click)="logout()">
                    <fa-icon [icon]="faSignOutAlt" class="icon" size="2x"></fa-icon>
                </a>
                </span>
            </div>
            <div class="col-sm-12 col-md-12 order-last d-flex mx-auto pb-1">
                <div class="collapse navbar-collapse justify-content-center" id="navbarLinksCollapsed">
                    <ul class="navbar-nav" *ngFor="let category of mainCategories">
                        <li class="nav-item" *ngIf="category.IsActive == true" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="nav-link h5 font-weight-normal ml-2 mr-2"  [routerLink]="['products']" [queryParams]="{cat: category.id}" queryParamsHandling="merge" (click)="refreshResults(category)"  >{{category.CategoryName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn pr-auto" (click)="closeNav()">FERMER <span class="closeBtnCross">&times;</span></a>
    <div *ngIf="currentUser">
        <app-sidebar></app-sidebar>
    </div>
    <div *ngIf="!currentUser">
        <app-login [isNavBar]="true"></app-login>
    </div>
</div>