.header {
    background-color: #212227;
    color: #f1f1f1;
}
.header .nav-link,.icon {
    color: #f1f1f1;
}

.header .nav-link:hover, .icon:hover {
    color: #17a2b8;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #212227;
    overflow-x: hidden;
    transition: 0.33s;
    padding-top: 60px;
}
  
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 14px;
    margin-left: 50px;
    color: #f1f1f1;
}

.sidenav .closebtn .closeBtnCross{
    color: #df0000;
    font-size: 20px;
}
